<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>

  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy?<br />
	<%= puts "Tough!"
		  # This is not working... because it does not kill all of the user's pins, 
		  # so the home page breaks when trying to load a page with pins that are not associated with any user! 
			# link_to content_tag(:i, "", class:"icon-trash")+" Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete 
	%>Tough.
</p>

<%= link_to content_tag(:i, "", class:"icon-chevron-left")+" Back", :back %>
