<div class="box">
	<%= link_to (image_tag pin.image), pin 
			# link_to (image_tag pin.image(:medium)), pin 
		#(:medium) # causing issues for uplaods - close the tag on the next line! 
	%>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			Posted by: <%= pin.user.name %> 
		</strong>
	</p>
	<% if current_user == pin.user %>
		<p>
		  <%= link_to 'Edit', edit_pin_path(pin) %>
		  <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %> 
</div>