<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %>
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			  <%= @pin.user.name %>
			</p>
			<% if current_user == @pin.user %>
				<%= link_to content_tag(:i, "", class:"icon-edit icon-2x"), edit_pin_path(@pin) %> |
				<%= link_to content_tag(:i, "", class:"icon-trash icon-2x"), @pin, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<% end %> 
			<%= link_to content_tag(:i, "", class:"icon-home icon-2x"), pins_path %>
			<% unless @pin.img_loc_lat.blank? 
				# bespoke code to load a map if the location information is available 
				# Google Static Maps for now
				# Look to upgrade to Google Maps API 3 - there seem to be a few gems available for it
			%>
				<p>&nbsp;<br />
					<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @pin.img_loc_lat %>,<%= @pin.img_loc_lng %>&zoom=13&size=600x300&maptype=roadmap&markers=color:green%7Clabel:P%7C<%= @pin.img_loc_lat %>,<%= @pin.img_loc_lng %>&sensor=false">
				</p>
			<% end %>
		</div>
	</div>
</div>
